@model Expense_Tracker_mvc.Models.Transaction

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm border-danger">
                <div class="card-body">

                    <h3 class="card-title text-danger mb-2">
                        <i class="bi bi-x-octagon"></i> Delete transaction
                    </h3>
                    <hr />
                    <dl class="row g-2">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class = "col-sm-10">
                            @Model.Date.ToString("dd.MM.yyyy")
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class = "col-sm-10">
                            @(Model.Category?.Name ?? "-")
                        </dd>
                        <dt class="col-sm-2 text-nowrap">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>
                    </dl>
    
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                    </form>
                </div>
           </div>
        </div>

    </div>

</div>
